body{
background:linear-gradient(135deg,#120e3a,#0b0b27,#000000);
background-attachment: fixed;


}
.title{
 font-family:'Gothic Medium'; 
 text-align: center; 
 margin-top:200px;
 color:#f3eaea;   
 


}

.filtros{
height:20px ;
width:300px ;
box-align: center ; 
padding:20px ;
background-color: yellow;

}
ul{
color:#f3eaea; 
border-radius:30px;
list-style-type: none;/*elimina las viñeta*/
 }
li{
height: 200px;  
width:317px ;
background-color: rgb(161, 9, 9);
border-radius:15px;
list-style-type: none;/*elimina las viñeta*/
 }

img{
height:200px; 
width:317px;
border:1px solid rgb(0, 0, 0);
border-radius:15px;

}


footer{
color:#f3eaea;  
text-align: center;
margin:60px; 

}
 