body{
background:linear-gradient(135deg,#0b0b27,#000000);
background-attachment: fixed;
}
#banner img {
  height:300px; 
  width: 750px; /*ancho*/
  margin-left:350px ;
  /*object-fit:cover;*/
  justify-content: center; /* Centra horizontalmente */
 
  }
  
header,main{
 font-family:'Gothic Medium'; 
 text-align: center; 
 display:flexbox;
 color:#f3eaea;   
 }

select{
height:35px;
width:160px ;
display:center; 
padding:10px ;
background-color: rgb(160, 169, 197);
}
/*boton limpia fltros*/
[data-testid="button-clear"]{
    height:35px;
    width:100px; /*ancho*/
    background-color: #07177049;
    margin:0 auto;
    border-color: #15153f;
    border-radius: 09px;
    font-size: 15px;
    color:whitesmoke;
    cursor: pointer;  /*Cambia la forma del cursor al pasar sobre el botón */  
}
[data-testid="button-clear"]:hover{
    background-color: #5b5cc4;
}

/*estilos para las tarjetas ul y li*/
ul{
color:#f3eaea; 
border-radius:30px;
list-style-type: none;/*elimina las viñeta*/
 }
li{
height: 200px;  
width:317px ;
background-color: rgb(161, 9, 9);
border-radius:15px;
list-style-type: none;/*elimina las viñeta*/
 }

img{
height:200px; 
width:317px;
border:1px solid rgb(0, 0, 0);
border-radius:15px;

}


footer{
color:#f3eaea;  
text-align: center;
margin:60px; 

}
 