body{
background:linear-gradient(135deg,#0b0b27,#000000);
background-attachment: fixed;
color:#f3eaea;
}
#banner img {
  height:300px; 
  width: 850px; /*ancho*/
  display:flex;
  margin:40px auto;
  object-fit:cover;
  }

header,main{
 font-family:'Gothic Medium'; 
 text-align: center; 
 display:flexbox;
 color:#f3eaea;   
 }

select{
  height:35px;
  width:160px ;
  flex:content;
  display:inline-block;
   
  padding:6px ;
  background-color: rgba(109, 215, 241, 0.822);
}
/*boton limpia fltros*/
[data-testid="button-clear"]{
    height:35px;
    width:100px; /*ancho*/
    background-color: #07177049;
    margin:0 auto;
    border-color: #15153f;
    border-radius: 09px;
    font-size: 15px;
    color:whitesmoke;
    cursor: pointer;  /*Cambia la forma del cursor al pasar sobre el botón */  
}
[data-testid="button-clear"]:hover{
  background-color: #6e70df;
}

/*estilos para las tarjetas ul y li*/

#tarjetas{
  height:60% ;
  width: 60%;
  margin:35%;
  /*margin-block:80px ;*/
  /*padding: 60px;/*separa las tarjetas de los filtros*/
  display:inline-flexbox;
  flex-wrap:wrap ;/*este envuelve los elementos li*/
  
}
ul{
  height:70% ;
  width:70% ;
  margin:40px auto;
  padding:20px ;
  color:#0e0d0d; 
  display:flex;/* agrupa las tarjetas horizontalmente*/
  flex-wrap:wrap; /*asegura que los li se envuelvan*/
  justify-content:space-between;
  /*list-style-type: none;/*elimina las viñeta*/
 }
.cards{
  height: 480px;  
  width:130px; /*ancho*/
  margin-left:20px; /*esta separa las tarjetas*/
  margin-bottom:30px;
  flex-basis:25% ;
  padding-top:20px;
  text-align:center;
  border: 2px solid #c92a02;
  background:linear-gradient(145deg,#e20e0e,#ad0a0a,#e22503,#ad0a0a,#7a0606);
  border-radius: 15px;
  /*flex: 1 1 calc(33.333% - 100px); /* Distribución flexible de los elementos? */
  /*list-style-type: none;/*elimina las viñeta*/
 }

img{
  height:170px; 
  width:210px;
  padding:0;
  border:5px solid #000000;
  
  border-radius:15px;
}
footer{
  color:#f3eaea;  
  text-align: center;
  margin:60px; 
  padding:5px;

}
 